

/*-- scss:defaults --*/

// Sass Variables
// https://quarto.org/docs/output-formats/html-themes.html#sass-variables

@import url('https://fonts.googleapis.com/css2?family=Montserrat');

$theme-ft: #f6f6f6;
$theme-green: darkgreen;
$theme-black: #001717;
$theme-no-soda: #f5f5f5;
$color1: #000080;
$blue: #71799b;
$teal: #147C91;
$darkgray: #333333;
$success: #053660;
$darkblue: #053660;
$mydarkblue: #0c334c;
/* Colors */
$body-bg: $theme-ft;


/* Fonts */
$font-family-sans-serif: "Montserrat", Helvetica, Arial, sans-serif;


/*-- scss:rules --*/

.navbar {
  color: $theme-black;
  background-color: $theme-black;
}

h1 {
  font-color: $darkblue;
}

.button-styling {
  background: $teal;
  color: $darkblue; 
  border-color: $darkgray;
}
/* Other */
//$toc-color: $color1;
//$headings-color: $color1;
$my-font-size: 2.5em;