

/*-- scss:defaults --*/

// Sass Variables
// https://quarto.org/docs/output-formats/html-themes.html#sass-variables

@import url('https://fonts.googleapis.com/css2?family=Montserrat');

$theme-ft: #fff4e6;
$theme-green: darkgreen;
$theme-black: #001717;
$theme-no-soda: #f2f2f2;
$color1: #000080;


/* Colors */
$body-bg: $theme-no-soda;


/* Fonts */
$font-family-sans-serif: "Montserrat", Helvetica, Arial, sans-serif;


/*-- scss:rules --*/

.navbar {
  color: $theme-black;
  background-color: $theme-black;
}


/* Other */
$toc-color: $color1;
$headings-color: $color1;