

/*-- scss:defaults --*/

// Sass Variables
// https://quarto.org/docs/output-formats/html-themes.html#sass-variables

@import url('https://fonts.googleapis.com/css2?family=Montserrat');

$theme-ft: #fff4e6;
$theme-green: darkgreen;
$theme-black: #001717;
$color1: #000080;
$darkblue: #053660;
$teal: #147C91;
$darkgray: #333333;
$success: #fff4e6;

/* Colors */



/* Fonts */
$font-family-sans-serif: "Montserrat", Helvetica, Arial, sans-serif;


/*-- scss:rules --*/

.navbar {
  color: $theme-black;
  background-color: $darkgray;
}


